@page
@model YClient_htinoco2.Pages.ex1Model
@{
    ViewData["Title"] = "Ex 1";
    
 }

<div class="text-center">
    <h1 class="display-4">Insira um valor abaixo:</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-2">

            <div class="form-group">
                <input type="number" class="form-control" id="nume1" placeholder="Valor" step="any">
            </div>

            <div class="form-group">
                <button type="submit"
                        class="btn btn-success">
                    Finalizar
                </button>
            </div>
        </div>
    </div>
</div>
