@page
@model YClient_htinoco2.Pages.Ex2Model
@{
    ViewData["Title"] = "Ex 2";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" name="data" class="form-control" id="data" placeholder="Valor" readonly>
            </div>
        </div>
    </div>
</div>